@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InstagramSans";
  src: url("./assets/fonts/InstagramSans-Headline.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/InstagramSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/InstagramSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/InstagramSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/InstagramSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 216 49% 67%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 216 49% 67%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border font-instaSans;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-gradient {
    background: var(--gradient);
  }
  /* 
  .fluid {
    @apply w-full md:w-[80%] xl:w-[60%] mx-auto;
  } */

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}
